!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

  -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Untitled"

  = stylesheet_link_tag "application"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

%body
  / Nav Bar
  .row
    .large-12.columns
      .nav-bar.right
        %ul.button-group
          %li
            %a.button{href: "#"} Link 1
          %li
            %a.button{href: "#"} Link 2
          %li
            %a.button{href: "#"} Link 3
          %li
            %a.button{href: "#"} Link 4
      %h1
        Blog
        %small This is my blog. It's awesome.
      %hr/
  / End Nav
  / Main Page Content and Sidebar
  .row
    / Main Blog Content
    .large-9.columns{role: "content"}
      %article
        %h3
          %a{href: "#"} Blog Post Title
        %h6
          Written by
          %a{href: "#"} John Smith
          on August 12, 2012.
        .row
          .large-6.columns
            %p Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.
            %p Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
          .large-6.columns
            %img{src: "http://placehold.it/400x240&text=[img]"}/
        %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
        %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
      %hr/
      %article
        / Put your app content anywhere in your layout
        = yield
    / End Main Content
    / Sidebar
    %aside.large-3.columns
      %h5 Categories
      %ul.side-nav
        %li
          %a{href: "#"} News
        %li
          %a{href: "#"} Code
        %li
          %a{href: "#"} Design
        %li
          %a{href: "#"} Fun
        %li
          %a{href: "#"} Weasels
      .panel
        %h5 Featured
        %p Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.
        %a{href: "#"} Read More →
    / End Sidebar
  / End Main Content and Sidebar
  / Footer
  %footer.row
    .large-12.columns
      %hr/
      .row
        .large-6.columns
          %p © Copyright no one at all. Go to town.
        .large-6.columns
          %ul.inline-list.right
            %li
              %a{href: "#"} Link 1
            %li
              %a{href: "#"} Link 2
            %li
              %a{href: "#"} Link 3
            %li
              %a{href: "#"} Link 4
  = javascript_include_tag "application"

:plain
  </html>
